@using eWebBanHang.Models;
@model List<Hangsanxuat>


<br />

<div class="bg-success">

    <h3> DANH MỤC  </h3>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-2 text-center">
                <button class="success"><b href="#"> @item.Tenhang</b></button>
            </div>
        }
    </div>
</div>