<style type="text/css">
    .giohang {
        color: white;
        font-size: large
    }
</style>

<a href="@Url.Action("GioHang","GioHang")" >
    <span style="position: absolute; margin: 30px 35px 0 0; padding: 0px 7px 0 7px; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; background-color: #FF8000; font-size: 14px; opacity: 90% ">

        @ViewBag.TongSoLuong

    </span>
    <img class="navbar-brand" src="~/images/giohangwed.png" width="50" height="50" style="padding:0;  float: right" />

</a>


